/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #001F3F;
      --primaryLight: #EDB86F;
      --secondary: #FFBA43;
      --secondaryLight: #FFBA43;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    #banner-310 {
      font-family: 'Roboto', 'Arial', sans-serif;
      /* 144px - 252px */
      padding-top: clamp(9rem, 25vw, 15.75rem);
      /* 80px - 140px */
      padding-bottom: clamp(5rem, 13vw, 8.75rem);
      position: relative;
      z-index: 1;
    }
    #banner-310 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #banner-310 .cs-int-title {
      /* 39px - 49px */
      font-size: clamp(2.4375rem, 4.5vw, 3.0625rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 43.75rem;
      margin: 0 auto 0.75rem;
      color: var(--bodyTextColorWhite);
      position: relative;
    }
    #banner-310 .cs-breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #banner-310 .cs-link {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.2em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #banner-310 .cs-link:last-of-type::after {
      display: none;
    }
    #banner-310 .cs-link:after {
      /* chevron - added as pseudo to make adding and removing them easier */
      content: '';
      width: 0.4375rem;
      height: 0.75rem;
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      background: url("https://csimg.nyc3.digitaloceanspaces.com/Banners/chevron-right.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    #banner-310 .cs-link.cs-active {
      color: var(--primaryLight);
    }
    #banner-310 .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
    }
    #banner-310 .cs-background:before {
      /* black overlay box */
      content: '';
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .72;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
    }
    #banner-310 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
                                  